<!--admin.ejs-->
<div class="container">
    <br>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event</th>
                <th>Organizer</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach( function(event) { %>

                <tr>
                    <td>
                        <%= event.id %>
                    </td>
                    <td><a href="/event/read/<%= event.id %>">
                            <%= event.eventName %>
                        </a></td>
                    <td>
                        <%= event.organizer %>
                    </td>
                </tr>

                <% }); %>
        </tbody>
    </table>
</div>